<% if signed_in? %>
  <div class="row-fluid">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
<div class="row-fluid">
  <div class="center hero-unit">
    <h1>Servicio de Microposts de la Facultad de Informática</h1>

    <h2>
      Universidad Complutense de Madrid
    </h2>

    <%= link_to "¡Regístrate ahora!", signup_path,
                                class: "btn btn-info btn-large btn-primary" %>
  </div>
</div>
  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/'%>
  <%= link_to image_tag("bootstrap-logo.png", alt: "Twitter Bootstrap"), 'http://twitter.github.io/bootstrap/'%>
<% end %> 
